.main-conteiner {
  display: flex;
  flex-direction: column;
  background-color: azure;

  .mainnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .nav1 {
    display: flex;
    align-items: center;

    .fb-logo {
      padding: 5px;
      .fa-facebook {
        font-size: 35px !important;
        color: #3578e5;
      }
    }
  }

  .search {
    position: relative;

    .fa-magnifying-glass {
      position: absolute !important;
      left: 8px;
      top: 8px;
    }
    input {
      border-radius: 80px;
      height: 25px;
      width: 200px;
      align-items: center;
    }
  }
}

.nav2 {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  width: 50%;

  .fa-house {
    font-size: 21px;
    color: #3578e5;
    border-bottom: 3px solid #3578e5;
    padding: 25px;
  }
  .fa-youtube-square {
    font-size: 21px;
  }

  .fa-store {
    font-size: 21px;
  }

  .fa-users-line {
    font-size: 21px;
  }

  .fa-game-board-simple {
    font-size: 21px;
  }
}

.nav3 {
  display: flex;
  align-items: center;

  .fa-bars {
    font-size: 21px;
    padding: 20px;
  }

  .fa-facebook-messenger {
    font-size: 21px;
    padding: 20px;
  }

  .fa-bell {
    font-size: 21px;
    padding: 20px;
  }

  .fa-user1 {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding: 20px;
  }
}

.bottom-posts {
  display: flex;

  .options {
    display: flex;
    flex-direction: column;
  }

  .option-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-bottom: 1px solid black;
    margin-left: 10px;
    .l1 {
      display: flex;

      .l11 {
        display: flex;
        align-items: center;

        .p1 {
          font-family: inherit;
          padding: 10px;
        }
      }
    }

    .fa-user {
      height: 30px;
      width: 30px;
      border-radius: 50px;
    }
    i {
      color: #3578e5;
    }
    .fa-user-group {
      font-size: 18px;
    }

    .fa-clock-rotate-left {
      font-size: 18px;
    }

    .fa-shop {
      font-size: 18px;
    }

    .fa-youtube-square {
      font-size: 18px;
    }

    .fa-circle-down {
      font-size: 18px;
    }
  }

  .middleside {
    display: flex;
    flex-direction: column;

    //margin !!
    margin-left: 100px;

    .storybox {
      display: flex;

      .pad0 {
        padding-top: 0px;
        padding-left: 0px;
        padding: 5px;
        position: relative;
      }
    }

    .story1 {
      list-style-type: none;
      padding-top: 0px;

      .img1 {
        width: 107px;
        height: 180px;
      }
    }
    .add-pv {
      border: 3px solid gray;
      padding: 15px;

      .add-line1 {
        display: flex;

        .fa-user-plus {
          border-radius: 50px;
          margin-right: 10px;
          width: 35px;
          height: 35px;
        }
        .whats {
          input {
            border-radius: 80px;
            height: 25px;
            width: 500px;
          }
        }
      }
      .add-line2 {
        display: flex;

        justify-content: space-around;
        margin-top: 20px;
        border-top: 1px solid black;
        padding: 5px;

        .sort {
          display: flex;
          .fa-video {
            color: #f35369;
          }
          .fa-photo-film {
            color: #00a400;
          }
          .fa-face-smile {
            color: #f5c33b;
          }

          .p2 {
            margin: 0px;
            margin-left: 10px;
          }
        }
      }
    }
    .createRoom {
      display: flex;
      border: 3px solid gray;
      align-items: center;
      margin-top: 15px;

      .btn1 {
        border-radius: 90px;
        height: 30px;
        margin-left: 15px;

        .fa-video {
          color: indigo;
        }
      }
      .sort1 {
        display: flex;
        .p22 {
          margin: 0px;
          margin-left: 10px;
        }
      }

      .fbFriends {
        display: flex;
        margin-left: 15px;
        align-items: center;

        .pati {
          height: 35px;
          width: 35px;
          border-radius: 50px;
          padding: 5px;
        }

        .btnPati {
          border-radius: 50px;
          height: 45px;
          width: 45px;
        }
      }
    }

    .newPost {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .girchilogo {
        display: flex;
        margin-left: 15px;

        .namegirchi {
          margin-left: 10px;
        }

        .public {
          font-size: 10px;
        }
      }
      .girchi1 {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        border: 2px solid gray;
      }

      .newcomment {
        .poto1 {
          width: 584px;
          height: 400px;
        }
      }
    }
  }

  .rightside {
    display: flex;
    flex-direction: column;
    margin-left: 150px;

    .birthday {
      border-bottom: 1px solid black;
      .fa-gift {
        font-size: 21px;
        color: #3578e5;
      }
    }
    .contact {
      display: flex;
      justify-content: space-between;

      .rightlogo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
      }
    }

    .onlinefriends {
      .ulonline {
        list-style-type: none;
        padding: 0px;
      }
      .lionline {
        display: flex;
        padding: 0px;
        position: relative;
        .point {
          position: absolute;
          margin-left: 30px;
          margin-top: 25px;

          .fa-circle {
            color: #00a400;
            font-size: 10px;
          }
        }
      }

      .ponline {
        margin-left: 5px;
      }
      .online {
        height: 35px;
        width: 35px;
        border-radius: 50px;
        padding: 5px;
      }
    }
  }
}
